################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PE_Tools/v16/Browse.VC.opendb
/.vs/PE_Tools/v16/Browse.VC.db-shm
/.vs/PE_Tools/v16/Browse.VC.db-wal
